{% extends '_base.html' %}

{% block content %}

    <h1>Agregar nuevo libro</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            <div>
                {{ field }}
            </div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ field.errors }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>

{% endblock content %}
